.header{
  display: flex;
  align-items: center;
}
.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}


img{
  margin-top: 5px;
  padding: auto 5px;
  max-height: 32px;
  max-width: 75px;
}
.title-group {
  margin-top: 5px;

  max-height: 32px;
  max-width: 75px;
  max-width: 75px;
  margin-left: 5px
}
.material-icons{
margin-top: 5px ;
margin-left: 5px;
padding: auto 10px;
max-height: 32px;
max-width: 75px;
}
