

.content {

  background-color: rgba(255, 255, 255, 0.665);
}
.example-container {
  width: 98%;
  height: 475px;
  margin: 12px;
  border: 1px solid #555;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.material-icons{
  color: #fff;
}
mat-nav-list{
  font:2rem;
  font-weight: 150;
}

