<mat-card class="home mat-elevation-z4" >
  <mat-card-title class="title">
    <span>seja bem vindo a nossa loja virtual </span>
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    <span>Aqui os client's são a nossa prioridade</span>
  </mat-card-subtitle>
  <!--<mat-card-content card-fundo>
     <div class="test-item">
      <span>
        <button mat-raised-button (click)="navigateToProductCreate()">
          Cadastro de produtos

          <a mat-list-item>
            <i class="material-icons"> add_shopping_cart </i>
          </a>
        </button>
      </span>
    </div
  </mat-card-content>-->
</mat-card>
