<p>product-update works!</p>
<mat-card>
  <mat-card-title>Alterar produto</mat-card-title>
  <form class="form">
    <mat-form-field>
      <input
        matInput
        placeholder="Nome"
        [(ngModel)]="product.name"
        name="name"
      />
    </mat-form-field>
    <mat-form-field>
      <!-- two way data biding -->

      <input
        matInput
        placeholder="Preço (R$)"

        [(ngModel)]="product.price"
        name="price"
      />
    </mat-form-field>
  </form>
  <button mat-button class="btn" (click)="updateProduct()" color="Accent">
    <a mat-list-item>
      <i class="material-icons">done_outline</i>
    </a>
    atualizar
  </button>
  <span>
    <button mat-button  (click)="cancel()" color="warn">
      <a mat-list-item>
        <i class="material-icons">cancel</i>
      </a>
      cancelar
    </button>
  </span>
</mat-card>
