.container-principal{
  position: fixed;
  bottom: 0;

}
.rodape{
  margin: 0 auto ;
}
.footer > span{
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 300;

}
.v-middle{
  vertical-align:middle;
  justify-content:flex-start;
}
