
<mat-card>
  <mat-card-title>deseja realmente excluir o produto</mat-card-title>
  <form class="form">
    <mat-form-field>
      <input
        matInput
        placeholder="Nome"
        [value]="product.name"
        name="name" disabled
      />
    </mat-form-field>
    <mat-form-field>
      <!-- two way data biding -->

      <input
        matInput
        placeholder="Preço (R$)"

        [value]="product.price"
        name="price" disabled
      />
    </mat-form-field>
  </form>
  <button mat-button class="btn" (click)="deleteProduct()" color="warn">
    <a mat-list-item>
      <i class="material-icons">delete_forever</i>
    </a>
    delete
  </button>
  <span>
    <button mat-button class="btn" (click)="cancel()">
      <a mat-list-item>
        <i class="material-icons">cancel</i>
      </a>
      cancel
    </button>
  </span>
</mat-card>
